                <form action="/login" method="post">
                    <div>
                        <label>Username:</label>
                        <input type="text" name="username" />
                        <br/>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" name="password" />
                    </div>
                    <div>
                        <input type="submit" value="Submit"  />
                    </div>
                </form>
                <p>If you do not have an account Enter in your desired username and password</br>
                Your account will be created if that username is available</p>